{{> layout/default.head }}
<style>
    h3 {
        border-bottom: 5px solid red;
        padding-bottom: 5px;
        width: 100%;
    }
</style>
<h2>
    Blog
</h2>
<img src="assets/paris-hilton.gif" />
<article>
    <h3>Sache wo mich in Zug ufreged (fourreal alte) #2</h3>
    <ul>
        <li>
            LG
        </li>
        <li>
            LG Djs (abgseh vom Ron :*)
        </li>
        <li>
            LG Musig
        </li>
        <li>
            LG
        </li>
        <li>
            Dass ich immer id LG gah wenni hacke bin
        </li>
        <li>
            de Regret dass mer en ganze Abig i de LG gwastet hed am nechste morge
        </li>
        <li>
            Pedalo- / Standup Paddle Prise
        </li>
        <li>
            Es gid keis Restaurant, wo min Mage füllt, meh oder weniger Gsund und im Prisbereich vo 10-15Fr. isch i de Stadt (abgseh
            vo Asiatisch vlt.)
        </li>
        <li>
            Mached mal es Vapiano uf :(
        </li>
        <li>
            LG
        </li>
    </ul>
</article>
{{> components/line-break }}
<article>
    <h3>LIVIO STICKER NOW AVAILABLE</h3>
    <img src="assets/liviosticker.jpg" />
    <h1><a href="buy.html">BUY BUY BUY</a></h1>
</article>
{{> components/line-break }}
<article>
    <h3>Vorurteil</h3>
    <p>
        Sry für jede woni offende
    </p>
    <ul>
        <li>
            <img src="assets/choker.jpg" alt="Dicksucke" width="300" />
            <blockquote>Umso ufälliger de Choker, umso höchere Rang im Dick sucke</blockquote>
        </li>
        <li>
            <img src="assets/hollister.png" alt="Hollister" width="300" />
            <blockquote>Am Mami gseit, dass mer Kleider selber will kaufe, aber noni muetig gnueg für ned 0815-shit</blockquote>
        </li>
        <li>
            <img src="assets/assc.jpg" alt="ASSC" width="300" />
            <blockquote>Han Depressione mit Ufmerksamkeit verwechslet</blockquote>
        </li>
        <li>
            <img src="assets/trasher.jpg" alt="Trasher" width="300" />
            <blockquote>"Han vorem Ollie ufgeh, aber han immer no es Element Deck dihei xD"</blockquote>
        </li>
        <li>
            <img src="assets/dnc.jpg" alt="Do Nothing Club" width="300" />
            <blockquote>Endli bini einzigartig, willi mit minere Persönlichkeit ned chan abhebe </blockquote>
            <blockquote>:(</blockquote>
        </li>
        <li>
            <img src="assets/zipperfag.jpg" alt="Zipperfag" width="300" />
            <blockquote>Die nechst Evolutionsstufe, vo dene wo frühner roti Schueh agha hend</blockquote>
        </li>
    </ul>
</article>
{{> components/line-break }}
<article>
    <h3>Sache wo mich in Zug ufreged (fourreal alte)</h3>
    <ul>
        <li>
            Ke guete Club
        </li>
        <li>
            14 jöhrigi
        </li>
        <li>
            Die Dudes wo amel bim Bahnhof stönd und fraged eb spende willsch oder amene Schneeballsystem wetsch mitmache
        </li>
        <li>
            Scooter fahrer
        </li>

        <li>
            Ke fucking Uberfahrer
        </li>
        <li>Lüt wo sich beklaged</li>
        <li>Lüt wo en Blog füehred</li>
        <li>Lüt wo nedmal schätze chönd i was fürenem Luxus mir lebed & sich darum im Internet münd beklage</li>
        <li>
            De neu 8er Fahrplan (oulte ZVB was söll de schissl?)
        </li>
    </ul>
</article>
{{> components/line-break }}
<article>
    <h3>
        Hünd bewertet vo 0-10
    </h3>
    <div>
        <img style="width: 200px" src="assets/144.gif" alt="Bitchslap doggo" />
        <span>Slap Doggo 10/10</span>
    </div>
    <div>
        <img style="width: 200px" src="assets/concerned.gif" alt="concerned Doggo " />
        <span>Slightly nervous concerned doggo 10/10</span>
    </div>
    <div>
        <img style="width: 200px" src="assets/blep.gif" alt="blep Doggo " />
        <span>Fluffy Puffer doing the blep 10/10</span>
    </div>
    <div>
        <img style="width: 200px" src="assets/baby.gif" alt="Crazy Doggo " />
        <span>Crazy Doggo doing crazy 10/10</span>
    </div>
</article>
{{> components/line-break }}
<article>
    <h3>
        10 Sache wo ich ned bi mir diheime han
    </h3>
    <ol>
        <li>
            Ich han kein Kaktus bi mir diheime
        </li>
        <li>
            .. au kei Goldmine
        </li>
        <li>
            .. au kei Plasmakanone
        </li>
        <li>
            .. au kei Chüeh
        </li>
        <li>
            .. au kei Panzer
        </li>
        <li>
            .. nedmal en Hellebarde
        </li>
        <li>
            .. kei Triangle
        </li>
        <li>
            .. Sinn für Humor
        </li>
        <li>
            .. Lebensfreud
        </li>
        <li>
            .. en BMW M3
        </li>
        <li>
            .. öpper wo uf 10 Zähle chan
        </li>
        <li>
            .. Ironie
        </li>
    </ol>
</article>
{{> components/line-break }}
<article>
    <h3>
        Kennsch es wenn usemene behinderte Witz der viel zviel müeh gisch für öppis?
    </h3>
    <p>
        Aso ich kenn das ned
    </p>
</article>
{{> components/line-break }} {{> layout/default.foot }}