{{> layout/default.head }}
<h2>
    Blog
</h2>
<article>
    <h3>Sache wo mich in Zug ufreged (fourreal alte)</h3>
    <ul>
        <li>
            Ke guete Club
        </li>
        <li>
            14 jöhrigi
        </li>
        <li>
            Die Dudes wo amel bim Bahnhof stönd und fraged eb spende willsch oder amene Schneeballsystem wetsch mitmache
        </li>
        <li>
            Scooter fahrer
        </li>

        <li>
            Ke fucking Uberfahrer
        </li>
        <li>Lüt wo sich beklaged</li>
        <li>Lüt wo en Blog füehred</li>
        <li>Lüt wo nedmal schätze chönd i was fürenem Luxus mir lebed & sich darum im Internet münd beklage</li>
        <li>
            De neu 8er Fahrplan (oulte ZVB was söll de schissl?)
        </li>
    </ul>
</article>
{{> components/line-break }}
<article>
    <h3>
        Hünd bewertet vo 0-10
    </h3>
    <div>
        <img style="width: 200px" src="assets/144.gif" alt="Bitchslap doggo" />
        <span>Slap Doggo 10/10</span>
    </div>
    <div>
        <img style="width: 200px" src="assets/concerned.gif" alt="concerned Doggo " />
        <span>Slightly nervous concerned doggo 10/10</span>
    </div>
    <div>
        <img style="width: 200px" src="assets/blep.gif" alt="blep Doggo " />
        <span>Fluffy Puffer doing the blep 10/10</span>
    </div>
    <div>
        <img style="width: 200px" src="assets/baby.gif" alt="Crazy Doggo " />
        <span>Crazy Doggo doing crazy 10/10</span>
    </div>
</article>
{{> components/line-break }}
<article>
    <h3>
        10 Sache wo ich ned bi mir diheime han
    </h3>
    <ol>
        <li>
            Ich han kein Kaktus bi mir diheime
        </li>
        <li>
            .. au kei Goldmine
        </li>
        <li>
            .. au kei Plasmakanone
        </li>
        <li>
            .. au kei Chüeh
        </li>
        <li>
            .. au kei Panzer
        </li>
        <li>
            .. nedmal en Hellebarde
        </li>
        <li>
            .. kei Triangle
        </li>
        <li>
            .. Sinn für Humor
        </li>
        <li>
            .. Lebensfreud
        </li>
        <li>
            .. en BMW M3
        </li>
        <li>
            .. öpper wo uf 10 Zähle chan
        </li>
        <li>
            .. Ironie
        </li>
    </ol>
</article>
{{> components/line-break }}
<article>
    <h3>
        Kennsch es wenn usemene behinderte Witz der viel zviel müeh gisch für öppis?
    </h3>
    <p>
        Aso ich kenn das ned
    </p>
</article>
{{> components/line-break }} {{> layout/default.foot }}