{{> layout/default.head }}
<div>
    <p>hesch ez sicher irgendöppis erwartet. aber langsam gad mer kreativität us. chan ke jokes meh mache. aber hey da hesch
        es paar 2008 memes</p>
    <img src="assets/lol.gif" />
    <img src="assets/trollface.png" />
</div>