{{> layout/default.head }}
<h2>Memes</h2>
<div>
    <img src="assets/GPHP15_0006-1-Beni-Katze.jpg">
    <img src="assets/beni-thurnheer-veilchen.jpg" alt="">
    <img src="assets/beni_thurnheer_pressefoto_srf_500x333.jpg" alt="">
    <img src="assets/418_beni-thurnheer-sf.tv.jpg" alt="">
</div>

{{> layout/default.foot }}