<h1> Livios
    <blink>
        <font color="#00ffB4">t</font>
        <font color="#00ffff">u</font>
        <font color="#00B4ff">r</font>
        <font color="#005Aff">n</font>
        &nbsp;
        <font color="#4B00ff">u</font>
        <font color="#A500ff">p</font>
    </blink>Blog</h1>
<div id="livio-turn-up-cube"></div>
<div class="subnav">
    <ul class="nav nav-pills">
        <li><a href="/index.html">Home</a></li>
        <li>
            <a href="/memes.html"><img class="pull-left" style="margin-top: -5px" src="assets/hot.gif"> Bilder vom Beni Turnherr</a>
        </li>
    </ul>
</div>
<img src="assets/Realistic-fire-animated-transparent-gif.gif" alt="">