<div class="row" style="overflow: hidden; width:100%">
    <img width="100" src="assets/pumpgirl.gif">
    <img width="100" src="assets/pumpgirl.gif">
    <img width="100" src="assets/pumpgirl.gif">
    <img width="100" src="assets/pumpgirl.gif">
    <img width="100" src="assets/pumpgirl.gif">
    <img width="100" src="assets/pumpgirl.gif">
    <img width="100" src="assets/pumpgirl.gif">
</div>